<div>
  <div>
    Conditions
    <button (click)="onAddConditionClick()">+ Add Conditions</button>
  </div>
  <table>
    <tbody>
      <ng-container
        *ngFor="let condition of getConditions().controls; let i = index"
      >
        <tr>
          <td>
            <select>
              <option
                *ngFor="
                  let logicalOperator of condition.value.LogicalOperators
                    .controls
                "
              >
                {{ logicalOperator.value.LogicalOperatorValue }}
              </option>
            </select>
          </td>

          <td>
            <select>
              <option
                *ngFor="
                  let attributeName of condition.value.AttributeNames.controls
                "
              >
                {{ attributeName.value.AttributeNameValue }}
              </option>
            </select>
          </td>

          <td>
            <select>
              <option
                *ngFor="
                  let arithmeticOperator of condition.value.ArithmeticOperators
                    .controls
                "
              >
                {{ arithmeticOperator.value.ArithmeticOperatorValue }}
              </option>
            </select>
          </td>

          <td>
            <select>
              <option
                *ngFor="
                  let attributeValue of condition.value.AttributeValues.controls
                "
              >
                {{ attributeValue.value.AttributeValueValue }}
              </option>
            </select>
          </td>

          <td>
            <button (click)="onDeleteConditionClick(i)">Delete</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
